# Application
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=root
DB_NAME=demo


# Communication
KAFKA_BROKER=localhost:9093
KAFKA_CLIENT_ID=nodejs-zxczx
KAFKA_GROUP_ID=nodejs-zxczx-group

# Caching
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
