# Application
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=27017
DB_NAME=demo

# Communication
KAFKA_BROKER=localhost:9093
KAFKA_CLIENT_ID=zzzzzz
KAFKA_GROUP_ID=zzzzzz-group

# Caching
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Authentication
JWT_SECRET=your_jwt_secret_key_here_change_it
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_here_change_it
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
